<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% const {name, category, price, _id} = product %>
  <title>Product details</title>
</head>

<body>
  <h1>Product details</h1>
  <ul>
    <li>
      Name : <%= name %>
    </li>
    <li>
      Category : <%= category.charAt(0).toUpperCase() + category.slice(1) %>
    </li>
    <li>
      Price : $<%= price %>
    </li>
  </ul>
  <a href="/products/edit/<%= _id %>">
    <button style="color:darkgreen">Edit</button>
  </a>
  <!-- <a href="/products/edit/<%= _id %>">
    <button style="margin-left: 5px; color:red;">Delete</button>
  </a> -->
  <br><br>
  <form action="/delete/<%=_id%>?_method=DELETE" method="POST">
    <button style="color:red" onclick="return window.confirm('Delete this product?')">Delete</button>
  </form>
  <br>
  <a href="/products">
    <button>Return</button>
  </a>

</body>

</html>